@font-face {
  font-family: Bondrians;
  src: url("../fonts/Bondrians.woff2");
}
@font-face {
  font-family: AdamWarren;
  src: url("../fonts/AdamWarrenpro.woff2");
}
@font-face {
  font-family: AdamWarren;
  font-weight: bold;
  src: url("../fonts/AdamWarrenpro-Bold.woff2");
}
html, body, main {
  background-color: #fff;
}

a, button {
  cursor: pointer !important;
}

.chapter-mark {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

section {
  padding-bottom: 10vh;
}

h1 {
  font-family: "Bondrians";
  font-size: 96px;
  color: #A01E26;
}

h2 {
  font-family: "Bondrians";
  font-size: 50vh;
  color: #050505;
}

.text-balloon {
  display: inline-flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  border: 3px solid #050505;
  background: #fff;
  font-family: "AdamWarren";
  font-size: 24px;
  text-align: center;
}

.centered-below {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.section {
  overflow: hidden;
}

.items, .items02, .items03, .item04 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
}

.item, .item02, .item03, .item04 {
  min-width: 960px;
  height: 450px;
  margin-right: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 3px solid #050505;
}
.item .text-balloon, .item02 .text-balloon, .item03 .text-balloon, .item04 .text-balloon {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 10vh;
  text-align: center;
}

.margin-added {
  margin: 15% 0;
}

.balloon-overlay {
  position: relative;
  top: -100vh;
  width: 100%;
  z-index: 999;
}

img {
  outline: none;
}

.indoors {
  background-color: #050505;
}

.column-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#a18-sheriff, #a20-sheriff {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  border: 0px solid #050505;
  border: 0px !important;
  outline: 0 !important;
}

#a18-sheriff {
  background-image: url(../img/a18-mannix1-bg.jpg);
}

#a20-sheriff {
  background-image: url(../img/a20-mannix2-bg.jpg);
}

#a21-sheriff {
  width: 100%;
}

#a181-sheriff, #a18-sheriff, #a19-sheriff, #a20-sheriff, #a21-sheriff {
  opacity: 0;
}

#slider02-bg1, #slider02-bg2, #slider02-bg3 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#slider02-bg1 {
  background-image: url(../img/slider02-bg1.jpg);
}

#slider02-bg2 {
  background-image: url(../img/slider02-bg2.jpg);
}

#slider02-bg3 {
  background-image: url(../img/slider02-bg3.jpg);
}

#a22-24-trigger {
  width: 80vw;
  margin: 0 10%;
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  background-image: url(../img/a24-firstBg.jpg);
  border: 3px solid #050505;
}

.balloon-overlay02 {
  position: relative;
  top: -80vh;
  width: 100%;
  z-index: 999;
}

.a24-bg {
  background-image: url(../img/a24-secondBg.jpg) !important;
  transition: 1s;
}

#a24-bg {
  width: 80vw;
  margin: 0 10%;
  height: 75vh;
  position: relative;
  left: -100vw;
  transform: translateY(-82vh);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  background-image: url(../img/a24-secondBg.jpg);
  border: 3px solid #050505;
}/*# sourceMappingURL=chapter02.css.map */