@import "variables.scss";


body,
html {
  width: 100%;
  max-width: 100%;
}

html::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}

html::-webkit-scrollbar-track {
  background: $white;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background: $black;
  border: 3px solid $black;
}

#overlay-effect {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 9999;
  background-image: url(../img/effect-overlay.png);
  mix-blend-mode: multiply;
  position: fixed;
  top: 0;
  left: 0;
}

.grid-2 {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 32px;
  margin: 0 10%;
}

.grid-2-1 {
  display: flex;
  flex-direction: row;
  width: 90%;
  gap: 32px;
  margin: 0 5%;
}

.column-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.full-vh {
  height: 100vh;
}

.no-vh {
  height: 0vh;
}


html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}


ol, ul {
	list-style: none;
}

#chapter-jump{
  font-family: $text;

  width: 100vw;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: transparent;
  justify-content: space-around;
 


  ol{
    
    display: flex;
    margin: 0px;
    justify-content: space-around;
    padding: 4px 48px;
    background-color: $darker-gray;
    height: 10vh;
    align-items: center;    
    border-radius: 999px 999px 0 0px;
    gap: 24px;
    
    li{
      padding: 12px;
    }
    li a{
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $light-gray;
      width: 24px;
      height: 24px;
      font-size: 16px;
    }

    li:hover{
      a{
        color: $white;
      }
      
      cursor: pointer;
      border: $gray 1.5px solid;
      border-radius: 99999px;
    }
  }
}

@import "intro.scss";
@import "chapter01.scss";
@import "chapter02.scss";
@import "chapter03.scss";
@import "chapter05.scss";
