@font-face {
  font-family: Bondrians;
  src: url("fonts/Bondrians.woff2");
}
@font-face {
  font-family: AdamWarren;
  src: url("fonts/AdamWarrenpro.woff2");
}
@font-face {
  font-family: AdamWarren;
  font-weight: bold;
  src: url("fonts/AdamWarrenpro-Bold.woff2");
}
html, body, main {
  background-color: #F8FBFF;
}

a, button {
  cursor: pointer !important;
}

.chapter-mark {
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}

section {
  padding-bottom: 10vh;
}

h1 {
  font-family: "Bondrians";
  font-size: 96px;
  color: #A01E26;
}

h2 {
  font-family: "Bondrians";
  font-size: 72px;
  color: #7C8AA5;
}

.text-balloon {
  display: inline-flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  border: 3px solid #050505;
  background: #F8FBFF;
  font-family: "AdamWarren";
  font-size: 24px;
  text-align: center;
}

.centered-below {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5% 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.section {
  overflow: hidden;
}

.items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  list-style: none;
}

.item {
  min-width: 960px;
  height: 450px;
  margin-right: 90px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  border: 3px solid #050505;
}
.item .text-balloon {
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  top: 10vh;
  text-align: center;
}

#chapter01 {
  width: 100%;
  height: 100vh;
}

#a01-warrenBg {
  transform-origin: center top;
  width: 80%;
  margin: 0 10%;
  height: 55vh;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 180%;
  background-image: url(img/ch01-a01-warrenbg.png);
  transition: 1s;
  border: 3px solid #050505;
}

.a01-animation {
  background-position: center !important;
  background-size: 120% !important;
  height: 70vh !important;
  transition: 500ms;
}

#a02-balloon01 {
  z-index: 1;
  position: relative;
  left: -250px;
  top: 450px;
  opacity: 0;
  transition: 1s;
}

#a03-carrierBg {
  opacity: 0;
  height: 40vh;
  width: 40vh;
  position: relative;
  top: 300px;
  left: 100vw;
  opacity: 0;
  transition: 1s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/ch01-a03-Carrierbg.png);
  transition: 1s;
  border: 3px solid #050505;
}

.a03-animation {
  opacity: 1 !important;
  transition: 1s;
}

#a04-balloon02 {
  z-index: 1;
  position: relative;
  top: -150px;
  left: 95vw;
  opacity: 0;
  transition: 1s;
}

#a05-balloon03 {
  z-index: 1;
  position: relative;
  opacity: 1;
  transition: 1s;
}

#slider01-bg1 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/a06-hangerman-bg1.png);
}

#slider01-bg2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/a06-daisyD-bg2.png);
}

#a06-balloon04 {
  z-index: 1;
  position: relative;
  left: 95vw;
  opacity: 0;
  transition: 1s;
}

#a06-fist {
  position: relative;
  left: 100vw;
  width: 80vw;
  margin: 0 10%;
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  background-image: url(img/ch01-a01-warrenbg.png);
  transition: 1s;
  border: 3px solid #050505;
  top: -120px;
}

.deslocated .left {
  transform: translateX(-15%);
}
.deslocated .right {
  transform: translateX(15%);
}

#a07-thinkingballoon01, #a08-thinkingballoon02, #a09-thinkingballoon03 {
  opacity: 0;
}

#a10-trigger {
  width: 80vw;
  margin: 0 10%;
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  background-image: url(img/a10-reading-letter.png);
  border: 3px solid #050505;
}/*# sourceMappingURL=chapter01.css.map */